* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

.max-width-wrapper {
  max-width: 800px;
  margin: auto;
  /* border: 1px solid red; */
}

header {
  border-bottom: 8px solid #999;
}

.intro-chunk {
  margin-top: 96px;
  margin-bottom: 64px;
  max-width: 415px; /* max-width is sufficient for scaling */
}

.title {
  margin: 0 0 48px;
  font-size: 3rem;
  line-height: 1.2;
}

.intro-chunk p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0 0 16px;
}

main {
  background: #666666;
  padding: 72px 0 64px;
}

.card {
  background: #fff;
  padding: 8px 24px 24px;
  border-bottom: 8px solid #999;
}

.indented-heading {
  background: #ffbf00;
  border-bottom: 8px solid #cc9900;
  padding: 16px 32px;
  font-size: 1.5rem;
  line-height: 1.2;
  width: fit-content;
  margin-left: -32px;
  margin-bottom: 1rem; /* 16px but use rem for readability */
}

.card p {
  margin-bottom: 16px;
  font-size: 1.25rem;
  line-height: 1.5;
}

strong {
  color: #009966;
}

.intro-chunk,
.card {
  padding-left: 24px;
  padding-right: 24px;
}
